{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "java",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "POSTGRES_HOST": "localhost",
    "POSTGRES_PORT": "5432",
    "POSTGRES_DB": "edufeedback",
    "POSTGRES_USER": "postgres",
    "POSTGRES_PASSWORD": "postgres",
    "AZURE_STORAGE_CONNECTION_STRING": "",
    "AZURE_COMMUNICATION_SERVICES_CONNECTION_STRING": "",
    "AZURE_COMMUNICATION_SERVICES_SENDER_ADDRESS": "",
    "RELATORIO_AGENDADO_CRON": "0 0 8 * * 1"
  }
}
